.App-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300vh;
  margin-top: -100vh;
}

.App-section .App-fade-in {
  margin-top: 100vh;
  height: 100vh;
}

.App-section .App-fade-out {
  margin-top: 200vh;
  height: 100vh;
}

.App-section:first-child {
  height: 200vh;
  margin-top: 0;
}

.App-section:first-child .App-fade-in {
  margin-top: 0;
  height: 200vh;
}

.App-section:first-child .App-fade-out {
  margin-top: 0;
  height: 200vh;
}

.App-section:last-child {
  height: 200vh;
  margin-top: 0;
}

.App-section:last-child .App-fade-in {
  margin-top: 0;
  height: 200vh;
}

.App-section:last-child .App-fade-out {
  margin-top: 0;
  height: 200vh;
}

.App-section-inner {
  margin-top: -100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.App-portrait {
  width: 80%;
}

.App-headline {
  font-family: "Autography";
  font-size: 2.369rem;
}

.App-subhead {
  font-size: 1.1111rem;
}

.App-footnote {
  font-size: 0.999rem;
}

.App-fade-out {
  position: absolute;
  width: 100%;
  background-image: url(./fade-out.png);
  background-repeat: repeat-x;
  background-size: contain;
  top: 0;
}

.App-fade-in {
  position: absolute;
  width: 100%;
  background-image: url(./fade-in.png);
  background-repeat: repeat-x;
  background-size: contain;
  top: 0;
}

@media (min-width: 600px) {
  .App-headline {
    font-size: 3.157rem;
  }
  .App-subhead {
    font-size: 1.333rem;
  }
  .App-footnote {
    font-size: 1.111rem;
  }

  .App-portrait {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .App-headline {
    font-size: 4.209rem;
  }

  .App-portrait {
    width: 50%;
  }
}
