.App-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300vh;
  margin-top: -100vh;
}

.App-section .App-fade-in {
  margin-top: 100vh;
  height: 100vh;
  pointer-events: none;
}

.App-section .App-fade-out {
  margin-top: 200vh;
  height: 100vh;
  pointer-events: none;
}

.App-section:first-child {
  height: 200vh;
  margin-top: 0;
}

.App-section:first-child .App-fade-in {
  margin-top: 0;
  height: 200vh;
}

.App-section:first-child .App-fade-out {
  margin-top: 0;
  height: 200vh;
}

.App-section:last-child {
  height: 200vh;
  margin-top: 0;
}

.App-section:last-child .App-fade-in {
  margin-top: 0;
  height: 200vh;
}

.App-section:last-child .App-fade-out {
  margin-top: 0;
  height: 200vh;
}

.App-section-inner {
  margin-top: -100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.App-portrait {
  width: 86%;
  margin-bottom: 24px;
  border-radius: 4px;
}

.App-fade-out {
  position: absolute;
  width: 100%;
  background-image: url(./fade-out.png);
  background-repeat: repeat-x;
  background-size: contain;
  top: 0;
}

.App-fade-in {
  position: absolute;
  width: 100%;
  background-image: url(./fade-in.png);
  background-repeat: repeat-x;
  background-size: contain;
  top: 0;
}

@media (min-width: 600px) {
  .App-portrait {
    width: 60%;
  }
}

@media (min-width: 900px) {
  .App-portrait {
    width: 40%;
    margin-bottom: 30px;
  }
}

.App-date-divider {
  width: 1px;
  height: 12px;
  background-color: #18181b;
  margin: 0 8px;
}

.App-invitation-follow {
  bottom: 40px;
  width: 200px;
}

.App-rsvp-link {
  color: inherit;
  text-align: left;
}

.App-rsvp-link:hover .h1 {
  color: #71717a;
}

.App-fade-in-first {
  margin-top: -100vh !important;
}

.App-rsvp-jump {
  border: 0.5px solid #18181b;
  border-radius: 1000px;
  position: absolute;
  bottom: 40px;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-rsvp-jump:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
